Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that enables efficient retrieval and manipulation of that data.

Sql is relational database management system.These databases have fixed or static or predefined schema. 

NoSQL is Non-relational or distributed database system.They have a dynamic schema

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL

#Create
Create Table table_name(
Col1 Datatype,
Col2 Datatype,
Col3 Datatype
);

#Alter
Alter table table_name
Add Col_name Datatype;

#Truncate
Truncate table table_name;

#Drop
Drop table table_name;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) is a subset of SQL (Structured Query Language) used for manipulating data stored in a relational database. DML consists of commands that allow users to query and modify data in the database.

#Insert:
The INSERT statement is used to add new records (rows) to a table.

#Update:
The UPDATE statement is used to modify existing records in a table.

#Delete:
The DELETE statement is used to remove records from a table.

Q4. What is DQL? Explain SELECT with an example.

Data Query Language (DQL) is a subset of SQL (Structured Query Language) used for querying and retrieving data from a relational database. The primary DQL command is SELECT, which allows you to specify the columns you want to retrieve and the conditions for retrieving the data.

#Select:
The SELECT statement is used to retrieve data from one or more tables in a database.

Q5. Explain Primary Key and Foreign Key.

#Primary key:
A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesnâ€™t contain a NULL value.

#Foreign Key:
A foreign key is generally used to build a relationship between the two tables. The major purpose of the foreign key is to sustain data integrity between two separate instances of an entity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
dbConfig = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'Reset@123',
)
cursor = dbConfig.cursor()
cursor.execute("Show all Database")
for i in cursor:
    print(i)
    
cursor.close()

The cursor() method is used to create a cursor object. A cursor is a handle or pointer that points to the current position in the result set.

The execute() method is used to execute a SQL query. It takes the SQL query as an argument and sends it to the MySQL server for execution.

Q7. Give the order of execution of SQL clauses in an SQL query.

1. FROM clause: The FROM clause specifies the tables from which the data will be retrieved.
2. WHERE clause: The WHERE clause filters the data retrieved in the FROM clause based on a condition.
3. GROUP BY clause: The GROUP BY clause groups the data retrieved in the WHERE clause based on one or more columns.
4. HAVING clause: The HAVING clause filters the groups created in the GROUP BY clause based on a condition.
5. SELECT clause: The SELECT clause specifies the columns that will be returned in the result set.
6. ORDER BY clause: The ORDER BY clause sorts the data in the result set based on one or more columns.
7. LIMIT clause: The LIMIT clause limits the number of rows returned in the result set.